.flex-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.center{
    width: 50%;
    margin: 0 auto;
}

img{
    display: block;
    margin: auto;
}